
.ant-btn {
    background-color: #191414;
    border: 2px solid #1DB954;
    margin-top: '22px';
    color: '#1DB954';
    border-color: '#1DB954',
}
.ant-btn:hover {
    background-color: #191414;
    border: 2px solid #1DB954;
    margin-top: '22px';
    color: '#1DB954';
    /* border-color: '#1DB954', */
}